@font-face {
    font-family: "Share Tech Mono";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("/fonts/share-tech-mono-400.woff2") format("woff2");
}

:root {
    --bg-color: #222;
    --text-color: #c8c8c8;
}

html {
    background: var(--bg-color);
    color: var(--text-color);
}

body {
    max-width: 650px;
    margin: 60px auto;
    padding: 0 10px;
    font-family: "Share Tech Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
    font-size: 18px;
    line-height: 1.5;
    color: var(--text-color);
    background: var(--bg-color);
    letter-spacing: 0.1px;
}

p {
    text-align: justify;
}

.lead {
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

h1,
h2,
h3 {
    line-height: 1.2;
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

pre {
    font-family: monospace, "Courier New", Courier;
    font-size: 14px;
    background-color: #1f1f1f;
    overflow: auto;
    display: block;
    padding: 10px;
}

code {
    font-family: monospace;
}

.center {
    display: flex;
    justify-content: center;
    line-height: normal;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--text-color);
    border-radius: 10px;
    border: 1px solid;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
